################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/cbc website 26/FileContentIndex/1c346253-0be2-44e0-8c09-2695476ce861.vsidx
/.vs/cbc website 26/FileContentIndex/765aacb6-2437-4233-b99b-42f1c129d6a7.vsidx
