################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/cbc website 26/FileContentIndex/1c346253-0be2-44e0-8c09-2695476ce861.vsidx
